<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <form class="form-signin" th:object="${user}" th:action="@{/(registration)}" method="post">
        <h2 class="form-signin-heading">Registration</h2>

        <input type="text" th:field="*{username}" id="inputEmail"
               placeholder="Username" th:class="${#fields.hasErrors('username')} ?
               'field-error form-control' : 'form-control'"
               required autofocus>

        <input type="password" th:field="*{password}" id="inputPassword"
               placeholder="Password" th:class="${#fields.hasErrors('password')} ?
                'field-error form-control' : 'form-control'" required>

        <button class="btn btn-lg btn-block btn-primary" type="submit">Register</button>

        <p></p>
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:each="error : ${#fields.errors('*')}" th:text="${error}">
                Validation error</p>
        </div>

    </form>

</div> <!-- /container -->


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
