<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>TEST</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <dl>
        <dt>ID</dt>
        <dd th:text="${user.id}">111</dd>
        <dt>Username</dt>
        <dd th:text="${user.username}">some username</dd>
        <dt>Password</dt>
        <dd th:text="${user.password}">some pass</dd>
    </dl>
    <a href="index.html" class="alert alert-success" th:href="@{/}"> YEP! </a>
</div> <!-- /container -->


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
